<a href="https://colab.research.google.com/github/Ebrahimi1234/CODSOFT/blob/main/Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Course for Data Analysis

# **Course contents - Module 1**
1. Introduction to Python (Recap  what you already know)
2. Introduction to Numpy
3. Introduction to Pandas
4. Working with Actual Datas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Introduction to Python

### Recap of Python Data types

Q1) Could you tell me what is the answer of this?

In [ ]:
first = input("first number: ")
second = input("second number : ")
sum = first + second
print(sum)

In [ ]:
first = input("first number: ")
second = input ("second number : ")
sum = int(first) + int(second)
print(sum)

Q2) Can you tell me the length of this string?

In [ ]:
a = "Hello, World!"
b = "Hello,World"
print(len(a))
print(len(b))

Q3) How to find the type of a quantity and can you identify it?

In [ ]:
x = 5
y = "John"
z = 8.0
print(type(x))
print(type(y))
print(type(z))

Q4) Can you change the data type of a number?

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

**Exercise** : Start by executing the assignment statements:
*   a = 'ant'
*   b = 'ball'
*   c = 'cat'

>Write Python expressions using a,b,c and operators + and * that evaluate to:

1. ant ball cat

In [ ]:
a = 'ant'
b = 'ball'
c = 'cat'
#print(a,b,c)
#print(a+b+c)
#print(a + " " + b +" " + c)

2. 'ant ant ant ant ant ant ant ant'

In [ ]:
print(8*(a + ' ' ))

3. ant ball ball cat cat cat

4. ant ball ant ball ant ball ant ball

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = 5
y = "John"
print(x, y)

## Simple user input Python Programme examples

####Example 1 : Find your age, if you give your birth year

In [ ]:
Birth_year = input("Enter your birth year: ") #Input  gives you a string
Age = 2023 - int(Birth_year)
print("Your Age is" , Age)

#### Example 2 : Getting  information of a peroson

In [ ]:
Name = input ("Hello, What is your name? : ")
Age = input ("What is your age? : ")
Job = input (" What are you doing: ")
if Job.lower() == "Student":
  input("What are you Studying :")
  input("Which year are you in :")
  print("Thank you for your information")
elif Job.upper() == "STUDENT":
  input("What are you Studying : ")
  input("Which year are you in :")
  print("Thank you for your information")
else :
  input("Are you satisfied with your Job? :")
  input("How much is your salary per month? :")
  print("Thank you for your information")

#### Example 3 : Number Guessing Game

In [ ]:
import random
from time import sleep
print("Hi,let's play a math game!")
sleep(3)
print("Game A: A little hard work for you")
print("Game B: Play with your luck")
sleep(2)
choice =input("Hi Alice, which game you want to play today? A or B:")
if choice == "A":
    number=print("guess a number between 0 and 9")
    sleep(4)
    process1=print("Multiply the guess number with 2 ")
    sleep(4)
    process2=print("Add the number with 2")
    sleep(4)
    process3=print("Multiply the number with 5")
    sleep(4)
    process4=print("Add the number with 5")
    sleep(4)
    process5=print("Multiply the number with 10")
    sleep(4)
    N=int(input("Enter the number:"))
    s = int(N/100)
    print("The number you guessed is" )
    print(s-1)
    sleep(2)
    print("If this is wrong, your math is wrong")
else:
    number = random.randrange(0,10)
    response=int(input("Please input a number between 0 and 10:"))
    if response !=number:
        print("try again. You have only 2 attempts left")
        sleep(2)
        response1=int(input("Please input a number between 0 and 10:"))
        if response1 != number:
            print("Bad Luck. Try again. You have only 1 attempt left")
            sleep(2)
            response2 = int(input("Please input a number between 0 and 10:"))
            if response2 != number:
                print("Sorry. You lost the game. Better luck next time")
            else:
                print("Hi, Finally you won the game. Congrats")
        else:
            print("Hi, you won the game")
    else:
        print("Hi, you won the game")
    sleep(2)
    print("The correct number is")
    print(number)

[Link for Python tutorial and simple exercises to practice](https://www.w3schools.com/python/default.asp)

[Youtube link for Data Analysis](https://www.youtube.com/watch?v=r-uOLxNrNk8)

[Youtube link for Numpy tutorial for beginners](https://www.youtube.com/watch?v=QUT1VHiLmmI)

# Introduction to Numpy

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices
along with a large collection of high-level mathematical functions to operate on these arrays (Wikipedia)

In [ ]:
pip install numpy

In [ ]:
import numpy as np

### Basic Numpy array

In [ ]:
a = np.array([1,2,3,4])
a

In [ ]:
b = np.array([0, .5, 1, 1.5, 2])
b

In [ ]:
a[0],a[1]

In [ ]:
a[0:]

In [ ]:
a[1:3]

In [ ]:
a[1:-1]

In [ ]:
a[::2]

In [ ]:
b[0],b[2],b[-1]

In [ ]:
b[[0,2,-1]]

### Size of objects in Memory

Numpy size are smaller. It stores the numbers with less number of bytes. But in python an integer is stored using > 24 bytes [8 bits give one byte].

#### Memory consumption in Python

In [ ]:
import sys
sys.getsizeof(1)

In [ ]:
sys.getsizeof(50.2)

#### Memory consumption of a list is even higher

In [ ]:
sys.getsizeof([1])

In [ ]:
np.array([1]).nbytes

In [ ]:
from sys import getsizeof as size
lst = [10, 20, 30]
list_size = size(lst)
elements_size = len(lst) * size(lst[0]) # 10, 20, 30 Size of each integer in a list is 28 bytes
list_size_total = list_size + elements_size
print("Size of list without elements: ", list_size)
print("Size of all the elements: ", elements_size)
print("Total list size, including elements: ", list_size_total)

In [ ]:
lst = [10, 20, 30,100]
size(lst)

Lets check how the memory usage changes, if we add another integer element to the list.

In [ ]:
lst = [10, 20, 30,40]
list_size = size(lst)
elements_size = len(lst) * size(lst[0]) # 10, 20, 30 Size of each integer in a list is 28 bytes
list_size_total = list_size + elements_size
print("Size of list without elements: ", list_size)
print("Size of all the elements: ", elements_size)
print("Total list size, including elements: ", list_size_total)
lst = []
print("Emtpy list size: ", size(lst))

#### Memory consumption of a Numpy array

In [ ]:
np.dtype(int).itemsize

8 bits give one byte.Numpy stores an integer in 8 bytes. That means it uses int64 bits. In  computers numbers and letters are stored using 64bits and sometimes in older version using 32 bits

In [ ]:
np.dtype(float).itemsize

In [ ]:
a = np.array([10, 20, 30])
print(size(a))

In [ ]:
e = np.array([])
print(size(e))

Numpy automatically chooses a fixed integer size. But we can determine the size of the integers, when we define an array and it can reduce the memory

In [ ]:
a = np.array([10, 12, 14], np.int8)
print(size(a))
a = np.array([10, 12, 14], np.int16)
print(size(a))
a = np.array([10, 12, 14], np.int32)
print(size(a))
a = np.array([10, 12, 14], np.int64)
print(size(a))

### Performance is important

In [ ]:
l = list(range(100000))
#print(l)

In [ ]:
a = np.arange(100000)
#print(a)

In [ ]:
%time np.sum(a ** 2)

In [ ]:

%time sum ([x ** 2 for x in l])

Another advantage

In [ ]:
a = [1,2,3]
b = [3,4,5]
a*b

In [ ]:
a = np.array([1,2,3])
b = np.array([3,4,5])
a*b

In [ ]:
a = np.array(a)
b = np.array(b)
a*b

###arange

Creation of arrays with evently spaced values

In [ ]:
a = np.arange(1, 8) # upperlimit is not included
print(a)

In [ ]:
x = range(1, 8)
print(x) # x is an iterator
print(list(x))

In [ ]:
x = np.arange(12.4)
print(x)
x = np.arange(0.3, 12.4, 0.8)  # arange(start, stop, step,dtype = None)
print(x)

### linspace

In [ ]:
np.linspace(1, 5)   # By defualt the step size is 50, end point is included

In [ ]:
# 5 values between 1 and 10:
np.linspace(1, 10, 5)

In [ ]:
# excluding the endpoint:
np.linspace(1, 10, 5, endpoint=False)

In [ ]:
np.linspace(1, 10, 5, False)

In [ ]:
np.linspace(0,1,5)

In [ ]:
np.linspace(0,1,18)

In [ ]:
np.linspace(0,10,8)

### Reshape

We can reshape the one dimentional array into higher dimensions

In [ ]:
np.arange(10)

In [ ]:
np.arange(10).reshape(2,5)

In [ ]:
np.arange(100).reshape(2,10,5)

### Getting info of an array

In [ ]:
import numpy as np
a = np.array([1,2,3], dtype ='int16')  # 1D array if you specify the datatype, then it store the array using less bytes. Then size should be small
print(a)
print(a.shape) # Get shape
print(a.ndim)  # Get dimension
print(a.dtype) # Get data type ( dtype)
print(a.itemsize) # Get size (size of each element)
print(a.size) # No: of elements
print(a.size * a.itemsize) # Total size
print(a.nbytes) # Another way of finding the total size = number of bytes

In [ ]:
a[[0,2]] # Selecting multiple elements in the array. Here I chose first and third element.

In [ ]:
b = np.array([
              [1.0,2.0,3.0],
              [4.0,5.0,6.0]
             ])   #2D array
print(b)
print(b.shape)
print(b.ndim)
print(b.dtype)
print(b.itemsize)

In [ ]:
c = np.array([
             [1.0,2.0,3.0],
             [4.0,5.0,6.0],
             [7.0,8.0,9.0]
             ]) #3D array
print(c)

### Accessing/changing specific elements, rows, columns etc

In [ ]:
S = np.array([2, 4, 6, 8, 10, 12, 14, 16, 18, 20])
print(S[2:5])
print(S[:4])
print(S[6:])
print(S[:])

In [ ]:
 a = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10]
    ])
 print(a)
 print(a.shape)

In [ ]:
# Get a specific elemnet [row,coloumn], Python index number starts with 0
a[1,2]

In [ ]:
a[1,-1]

In [ ]:
# Get a specific row
a[0, :]

In [ ]:
# Get a specific column
a[:, 1]

In [ ]:
# [startindex:endindex:stepsize]
a[0:,1:5:2] # Here row is from 0 to final, column is from 1 to 4 in steps of 2

In [ ]:
A = np.array([
[18, 26, 35, 40, 52],
[10, 12, 13, 14, 15],
[31, 32, 33, 34, 35],
[41, 42, 43, 44, 45],
[51, 52, 53, 54, 55]])
print(A.shape)
print(A[:3, 2:])  # Slice the matrix from first row until 2 nd row and column from 2nd to final

In [ ]:
print(A[3:, :])

In [ ]:
print(A[:, 4:])

In [ ]:
X = np.arange(28).reshape(4, 7)
print(X)

In [ ]:
print(X[::2, ::3]) # X(start row index : End row index : step row index, start column index : End column index : step column index )

In [ ]:
print(X[::, ::3])

In [ ]:
a = np.array([
    [1,2,3,4,5],
    [6,7,8,9,10]
    ])
print(a)

In [ ]:
#to change element
a[1,2] = 10
print(a)

In [ ]:
a[:,4] = 0 # change the element in a particular column
print(a)

In [ ]:
c = np.array([
    [[1,2,3],[4,5,6]],
     [[7,8,9],[10,11,12]]
    ])
print(c)

In [ ]:
#c[0,1,2]
c.shape

### Concatenate arrays

In [ ]:
x = np.array([11,22])
y = np.array([18,7,6])
z = np.array([1,3,5])
c = np.concatenate((x,y,z))
print(c)

In [ ]:
x = np.array(range(24))
x = x.reshape((4,3,2)) #split into 4 subsection, each section 3 rows and then 2 column
y = np.array(range(100,124))
y = y.reshape((4,3,2))
z = np.concatenate((x,y))
print(z)

###Initializing the matrices

In [ ]:
np.zeros(5)  # Zeros initializing
np.zeros((2,3))
np.zeros((2,3,4))
np.ones((4,2,2)) # Ones initializing

In [ ]:
# Any other number initializing
np.full((2,2),99)

In [ ]:
np.identity(4)  # create an identity matrix with dimension 4

### Lets do some math

In [ ]:
 a = np.array([1,2,3,4])

In [ ]:
a+2

In [ ]:
a*2

In [ ]:
a/2  # Similarly you can add any numpy arrays similar to do mathematics

In [ ]:
np.sin(a) # You can take sine values of each element

###Statistics

In [ ]:
stats  = np.array([[1,2,3],[4,5,6]])
stats

In [ ]:
np.min(stats) #minimum value of an array
np.max(stats) #maximum value of an array

In [ ]:
np.min(stats, axis = 1) #  axis = 1 gives the elements in the column, if you put axis =0 it will give all elements in the first row
np.max(stats, axis = 1)

In [ ]:
np.sum(stats) # add all elements

In [ ]:
np.sum(stats, axis = 1) # Give the sum of the elements in a row
np.sum(stats, axis = 0) # Give the sum of the elements in a column

###Conditional operations (Boolean Indexing)

In [ ]:
# Creating a boolean array
np.full((3,3), True, dtype=bool)

In [ ]:
np.full((3,3), False, dtype=bool)

In [ ]:
np.full((9), True, dtype=bool).reshape(3,3)

In [ ]:
A = np.array([4, 7, 3, 4, 2, 8])
print(A == 4)

In [ ]:
A = np.array([
[12, 13, 14, 12],
[11, 14, 12, 15],
[10, 12, 12, 15],
[ 9, 11, 16, 15]])
B = A > 14
print(B)

In [ ]:
print(B.astype(dtype=int))
C = A[B]
print(len(C))

In [ ]:
ab = np.array([1,2,3,4])
ab[[True,True,False,False]] # Can apply Boolen operators to choose elements
ab >= 3
ab[ab >= 2]

In [ ]:
ab[(ab >=2) & (ab % 2 == 0)]  #and operation

In [ ]:
ab[(ab == 1) | (ab == 2)] # If it is satisfying first condition or second condition only

In [ ]:
print(ab.sum())
print(ab.mean())

In [ ]:
print(ab.std())
print(ab.var())

In [ ]:
A = np.random.randint(100, size =(3,3))
print(A)

In [ ]:
A > 30  # We can use this as a filter. This true false array is called Boolean arrays

In [ ]:
A [A >30]

### Matrix Operations

In [ ]:
Mat =  np.random.randint(30, size =(3,3))
print(Mat)

In [ ]:
Mat.T # transpose of a matrix

In [ ]:
AA = np.random.randint(10, size =(2,2))
BB = np.random.randint(20, size =(2,2))
print(AA)
print(BB)

In [ ]:
AA.dot(BB) # Dot product of a matrix

###Load data from file

In [ ]:
import os
os.chdir("drive/My Drive/Colab Notebooks")

In [ ]:
filedata = np.loadtxt('data.txt', delimiter=',') #delimiter = commas
filedata = filedata.astype('int32')
print(filedata)

Boolen masking and indexing data

In [ ]:
filedata >50 # Thus it shows true to the elment which is grater than 50 and others will be false
new = filedata[filedata>50] # It will show the numbers which is greater than 50
print(new)
print(len(new))

In [ ]:
np.any(filedata > 50, axis = 0) # Checking if any of the column is greater than 50. Here we have 18 columns

In [ ]:
np.any(filedata > 50, axis = 1) # Here checking the row

In [ ]:

A = filedata[((filedata > 50) & (filedata < 100))]
print(A)
print(len(A))

# Intro to Pandas

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

There are two important data structures of Pandas:


*  Series

*  DataFrame

SERIES


> A Series is a one-dimensional  array-like object. It can be any data types such as integers,floats, strings etc. It consists of basically two arrays, one with index and other with the data

# Pandas Series

In [ ]:
S = pd.Series([20,35,12,56,40,60]) # Pandas read the elements with indexes

In [ ]:
print(S)

Here we didn't define an index but we see two columns in our output: (Left one : Index) and the (right one : data). Pandas created a default index starting with 0 going to 5.

In [ ]:
S.dtype

In [ ]:
print(S.index)
print(S.values)

In [ ]:
print(S[0])
print(S[1])

## Indexing

In [ ]:
# In contrast to lists, we can explicitly define the index here in Pandas
S.index =["Alice","Bob","Charlie","Mary","Carla","Sam"]
print(S)

Different way of creating the series with indexes

In [ ]:
Person = {"Aswathy" : 28, "Anjali" : 26, "Sarika" : 27, "Usha" : 55, "Rajan": 63}
Person_series = pd.Series(Person)
print(Person_series)

In [ ]:
fruits = ['mangoes', 'oranges', 'cherries', 'grapes']
quantities = [20, 33, 52, 10]
S = pd.Series(quantities, index=fruits, name = 'Fruits')
S

In [ ]:
S['mangoes'] # here we need to put the index in inverted comma

In [ ]:
# Numeric positions can also be used with the iloc attribute
S.iloc[0]

In [ ]:
S[['mangoes','cherries']] # We can choose how many elements we need from the original series

In [ ]:
S.iloc[[0,2]] # We can define this way also

In [ ]:
# In Pandas the upper limit is included
S['mangoes':'grapes']

In [ ]:
l = ['a','b','c'] # list case

In [ ]:
l[:2] # upper limit not included

In [ ]:
# Similarly we can utilize the advantage of Boolean arrays here
S>20

In [ ]:
S*2 # We can do all math operations using this

In [ ]:
# ~ not
# | or
# & and   operations we used last section can work here as well.

In [ ]:
S[(S > 30) & (S < 50)] # Example

We can modify the series as well

In [ ]:
S['mangoes'] = 31

In [ ]:
S

In [ ]:
S[S > 30] = 66
S

## NAN - Missing data

In [ ]:
# Example of a Series consists of Months and visitors

visitors = {"January": 561524,
"February": 357214,
"March": 316623,
"April": 687403,
"May": 287330,
"July": 780342,
"September": 172400,
"October": 179011,
"November": 460238,
"December": 149390}
visitor_data = pd.Series(visitors)
print(visitor_data)

In [ ]:
Months = ["January", "February", "June", "November","August", "April"]
visitor_series = pd.Series(visitors,index=Months)
visitor_series

We can see, that the months, which are not included in the dictionary, get the value NaN assigned.

> NaN stands for "not a number". We can check for missing values with the methods isnull and notnull:

In [ ]:
print(visitor_series.isnull())

In [ ]:
print(visitor_series.notnull())

We can filter out missing data with the Series method dropna. Thus we can reproduce the data with
non-null data:

In [ ]:
print(visitor_series.dropna())

By using fillna you can give values to null section

In [ ]:
print(visitor_series.fillna(0))

In [ ]:
# If we call fillna with a dict, we can provide the appropriate data.

missing_months = {"June":59793, "August":37888}
visitor_series.fillna(missing_months)

In [ ]:
visitor_series = visitor_series.fillna(missing_months).astype(int)
print(visitor_series)

# Pandas Dataframe

DataFrame is basically like a spreadsheet or excel kind of tabular datas.

*   DataFrame is basically like a spreadsheet or excel kind of tabular datas.
*   A DataFrame has both a row and a column index.
*   A DataFrame can be considered as a
concatenation of Series, each Series having the same
index, i.e. the index of the DataFrame.








>

In [ ]:
years = range(2010, 2014)
shop1 = pd.Series([1200.14, 1250.01, 3005.83, 4000.55], index=years)
shop2 = pd.Series([1500.45, 2800.62, 3500.83, 3700.53], index=years)
shop3 = pd.Series([4412.12, 5491.16, 2457.19, 2963.10], index=years)
pd.concat([shop1, shop2, shop3])

Here the concat work for axis =0 (default).  Let's try with "axis=1":

In [ ]:
shops_df = pd.concat([shop1, shop2, shop3],axis =1)
shops_df

In [ ]:
cities = ["Paris", "Stuttgart", "Karlsruher"]
shops_df.columns = cities
print(shops_df)

In [ ]:
# alternative way: give names to series:
shop1.name = "Paris"
shop2.name = "Stuttgart"
shop3.name = "Karlsruher"
shops_df2 = pd.concat([shop1, shop2, shop3], axis=1)
print(shops_df2)

In [ ]:
print(type(shops_df))

This means, we can arrange or concat Series into DataFrames!

Create Dataframes from dictionary

In [ ]:
places = {

    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
     'Surface Area': [9984670,640679,357114,301336,377930,242495,9525067],
    'Continent': ['America','Europe','Europe','Europe','Asia','Europe','America']

     }

In [ ]:
places_frame = pd.DataFrame(places)
places_frame

In [ ]:
places_frame.columns.values

In [ ]:
# Give prefereed index

Country = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States']
places_frame = pd.DataFrame(places, index=Country)
places_frame

In [ ]:
# Give prefereed index (another way)
places_frame.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States']
places_frame

In [ ]:
# rearrange the order of columns
places_frame = pd.DataFrame(places, columns=["Continent","Population","Surface Area"])
places_frame

In [ ]:
# rearrange the order of index
places_frame.reindex(index=[0, 2, 4, 6, 1, 3, 5])

In [ ]:
places_frame.rename(columns={"Continent":"Contint","Population":"Pop","Surface Area": "S.A"}, inplace = True)
places_frame

# Working with actual data

In [ ]:
# df means dataframe like CSV files
# you can drop some datas using indexes. Such as df.drop('Canada')
# df.drop(['Canada,'Japan'])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/Data')

In [ ]:
df = pd.read_csv('shopping_trends_updated.csv') # to read a CSV file

In [ ]:
print(df)

While pandas read the CSV files, the first row is considered as the headline. If you have aCSV file, which doesn't have a headline, you can give, header = None

In [ ]:
df.head() # to get first few rows

In [ ]:
df.head(10) # To specify number of rows needed from top

In [ ]:
df.tail() # to get last few rows

In [ ]:
df.tail(3) # To specify number of rows from bottom needed

In [ ]:
df.shape # (row, column)

In [ ]:
df.info # To get the informatiom of the data

In [ ]:
df.dtypes  # Will get the data types

In [ ]:
df.dtypes.value_counts()

In [ ]:
df.describe() # Summary of the statistics of the dataframe (only the numerical types would be shown)

In [ ]:
df.columns.values

In [ ]:
df2 = df.rename(index = {0:'Alice',1:'Bob',2:'Mary'})
print(df2)

In [ ]:
df2.loc['Alice'] # to get a particular row using loc function (Give element via index)  arranged in Series way

In [ ]:
df2.iloc[0] # via sequential positions # Result came as a series form, transpose, In series way

In [ ]:
print(df['Gender']) # To access the columns
print(df.Gender) # another way

In [ ]:
df.loc[0: 10] # Upper limit is included. But in python range and all, the upper limit is excluded.

In [ ]:
df.iloc[0:5] # Upper limit not included

In [ ]:
df.loc[0:5,'Age'] # Accessing particular column using the index

In [ ]:
df.loc[0:5,['Age','Gender']] # Accessing multiple columns

In [ ]:
# another way
print(df['Item Purchased'][0:5])

In [ ]:
# To access the column using the index value of column.
#Here the column is the 6th one. because it starts from 0,1,2,3,4,5
df.iloc[0:10,5]

In [ ]:
df.iloc[0:10,0:5]  # Accessing multiple columns

## Conditional selection ( boolean arrays)

In [ ]:
#df['Age'] >30
df.Age >30  # Another way

In [ ]:
df3 = df.loc[df.Age >=69]  # How many people will have age greater tan or equal to 69

In [ ]:
df4 = df.loc[df.Gender == 'Male']  # How many male customers
print(df4)

In [ ]:
df5 = df.loc[df.Gender == 'Female']  # How many Female customers
print(df5)

In [ ]:
df7 = df.loc[(df.Category == 'Footwear') & (df.Gender == 'Male') ]  # Multiple conditions
print(df7)

## Making changes to dataframes

Sorting datas

In [ ]:
df8 = df.sort_values(by="Age", ascending=True) # Sorting  data based on ascending order of age
#print(df8)
df9 = df.sort_values(by="Age", ascending=False) # Sorting  data based on ascending order of age
print(df9)

In [ ]:
ddf = df.sort_values(['Item Purchased', 'Category'], ascending=(True, True)) # Multiple condition
print(ddf)

In [ ]:
# if you want to drop some rows from the dataframe
df.drop(2)
df.drop([2,5]) # dropping multiple rows based on index

In [ ]:
# dropping columns
df.drop(columns=['Age','Gender'])

In [ ]:
#Lets create a new series
NewSeries = pd.Series([10,100,5], index = ['Age','Previous Purchases','Purchase Amount (USD)'])
NewSeries

In [ ]:
df[['Age','Previous Purchases','Purchase Amount (USD)']]

In [ ]:
# changing the value of Age and Previous purchases by adding New series to it.
#For that we need to cretae a series with same indexes
df[['Age','Previous Purchases','Purchase Amount (USD)']] + NewSeries

##Modifying data frame

In [ ]:
# adding new column
Shoppingday = pd.Series(['Sunday','Monday','Saturday'], index = [0,1,2])

In [ ]:
df = df.drop(columns=['ShoppingDay'])

In [ ]:
# Replacing values per column
df['Shopping Day'] = 'Monday'

In [ ]:
df

In [ ]:
# Renaming Columns and Indexes
df.rename(columns = {'Item Purchased': 'ItPur' }, index = {2 : 'Aswathy'})

In [ ]:
# Creating columns from other columns
df['Total expense so far'] = df['Previous Purchases'] * df['Purchase Amount (USD)']
df

## Statistical info

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
PurchaseAmt = df['Purchase Amount (USD)']
Age = df['Age']

In [ ]:
PurchaseAmt.min(), PurchaseAmt.max()

In [ ]:
Age.min(), Age.max()

In [ ]:
Age.sum()

In [ ]:
Age.mean()

In [ ]:
Age.std()

In [ ]:
Age.describe()

## Saving our Data (Exporting into Desired Format)

In [ ]:
df.to_csv('modified_shopping.csv')
#df.to_excel('modified.xlsx', index=False)